body {
  color: white;
  background-color: #a0a0a0;
  margin: 0;
}

a {
  color: limegreen;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  background-color: #222;
  padding: 1em;
  min-height: 90vh;
}

nav {
  text-align: right;
}

img.feature {
  display: block;
  margin: auto;
  border-radius: 0.5em;
  max-width: 100%;
}
