body {
  background-image: url(../images/money.jpg);
}

.container {
  max-width: 960px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 1em;
  border-radius: 1em;
  background-color: rgba(255, 255, 255, 0.9);
}
