body {
  min-height: 9999em;
}

.box {
  width: 150px;
  height: 150px;
  border: 1px solid black;
  text-align: center;
  line-height: 150px;
}

.static {
  position: static; /* this is default */
}

.absolute {
  /* Relative to the document */
  position: absolute;
  top: 300px;
  right: 200px;
}

.fixed {
  /* Relative to the window */
  position: fixed;
  top: 50px;
  right: 200px;
}

.relative {
  position: relative;
  width: 900px;
  height: 900px;
  line-height: 900px;
}

.small-box {
  position: absolute;
  border: 1px solid black;
  width: 50px;
  height: 50px;
}

.red {
  background-color: red;
  top: 275px;
  right: 175px;
}

.green {
  background-color: green;
  top: 300px;
  right: 200px;
}

.blue {
  background-color: blue;
  top: 325px;
  right: 225px;
}
