<h1>Calculate</h1>

<form action="/calc">
  First number: <input type="number" name="x" placeholder="7">
  Operator: <input type="text" name="operator" placeholder="+">
  Second number: <input type="number" name="y" placeholder="12">

  <button>Calculate!</button>
</form>
