<h2>New Butterfly</h2>

<form action="/butterflies" method="post">
  <input type="text" name="name" placeholder="Butterfly name">
  <input type="text" name="family" placeholder="Butterfly family">
  <input type="url" name="image" placeholder="http://...">

  <select name="plant_id">
    <% Plant.all.each do |plant| %>
      <option value="<%= plant.id %>"><%= plant.name %></option>
    <% end %>
  </select>

  <button>Create butterfly</button>
</form>
