<h2>New Butterfly</h2>

<form action="/butterflies" method="post">
  <input type="text" name="name" placeholder="Butterfly name">
  <input type="text" name="family" placeholder="Butterfly family">
  <input type="url" name="image" placeholder="http://...">

  <button>Create butterfly</button>
</form>
