<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>The Wonderful World of Butterflies</title>
    <link rel="stylesheet" href="/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>

    <div class="container">
      <nav>
        <a href="/">Home</a>
        <a href="/butterflies">All Butterflies</a>
        <a href="/butterflies/new">New Butterfly</a>
        |
        <a href="/plants">All Plants</a>
        <a href="/plants/new">New Plant</a>
        |
        <% @families.each do |f| %>
          <a href="/butterflies/families/<%= f %>"><%= f %></a>
        <% end %>
      </nav>

      <%= yield %>
    </div>

  </body>
</html>
