<h2>New Plant</h2>

<form action="/plants" method="post">
  <input type="text" name="name" placeholder="Plant name">
  <input type="url" name="image" placeholder="http://...">

  <button>Create plant</button>
</form>
