<h1>Dashboard</h1>

<p>Marx Brother: <span id="brother"><%= @brother %></span></p>
<p>Current server time: <span id="time"><%= @time %></span></p>
<p>Uptime: <span id="uptime"><%= @uptime %></span></p>
