<h1>Stock Price Lookup</h1>
<h2>Enter a stock symbol</h2>

<form action="/price">
  <label for="stock">Stock symbol</label>
  <input id="stock" type="text" name="stock" placeholder="GOOG" autofocus required>
  <button>Get price</button>
</form>
