<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Stock Price Lookup</title>
  </head>
  <body>

    <nav>
      <a href="/">Home</a>
      <a href="/about">About</a>
      <a href="/faq">FAQ</a>
    </nav>

    <%= yield %><!-- Content goes here -->
  </body>
</html>
