<h1>Blog</h1>

<div class="post">
  <h2>First Post</h2>
  <h3 class="author">Some Author</h3>
  <div class="content">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt doloribus architecto reiciendis molestias, minus iure voluptas facilis tempora culpa accusantium eum porro cupiditate asperiores, inventore possimus libero ea quisquam. Corporis.</p>
    <p>Asperiores tempore, fugit delectus maxime laudantium tenetur, hic molestias doloribus ducimus perspiciatis aliquid, vero architecto natus cumque labore veniam esse quasi sed obcaecati minus? Nam fugit odio reprehenderit quam soluta.</p>
  </div>
</div>

<div class="post">
  <h2>First Post</h2>
  <h3 class="author">Some Author</h3>
  <div class="content">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt doloribus architecto reiciendis molestias, minus iure voluptas facilis tempora culpa accusantium eum porro cupiditate asperiores, inventore possimus libero ea quisquam. Corporis.</p>
    <p>Asperiores tempore, fugit delectus maxime laudantium tenetur, hic molestias doloribus ducimus perspiciatis aliquid, vero architecto natus cumque labore veniam esse quasi sed obcaecati minus? Nam fugit odio reprehenderit quam soluta.</p>
  </div>
</div>

<div class="post">
  <h2>First Post</h2>
  <h3 class="author">Some Author</h3>
  <div class="content">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt doloribus architecto reiciendis molestias, minus iure voluptas facilis tempora culpa accusantium eum porro cupiditate asperiores, inventore possimus libero ea quisquam. Corporis.</p>
    <p>Asperiores tempore, fugit delectus maxime laudantium tenetur, hic molestias doloribus ducimus perspiciatis aliquid, vero architecto natus cumque labore veniam esse quasi sed obcaecati minus? Nam fugit odio reprehenderit quam soluta.</p>
  </div>
</div>

<hr />

<h1>Notification Samples</h1>

<div class="notification">
  This is a notification
</div>

<div class="error">
  This is an error
</div>

<div class="success">
  This is success
</div>
